name: CI
on:
  pull_request:
  push:
    branches-ignore:
    - dependabot/*
    - renovate/*
  schedule:
  - cron: 0 0 * * 0
  workflow_dispatch:
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version:
        - '3.1'
        - '3.2'
        - '3.3'
        - '3.4'
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_DB: virtual_attributes
        options: "--health-cmd pg_isready --health-interval 2s --health-timeout 5s --health-retries 5"
        ports:
        - 5432:5432
      mysql:
        image: mysql:9.5
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: virtual_attributes
        options: --health-cmd="mysqladmin ping -h 127.0.0.1 -P 3306 --silent" --health-interval 10s --health-timeout 5s --health-retries 3
        ports:
        - 3306:3306
    env:
      PGHOST: localhost
      PGPORT: 5432
      PGUSER: postgres
      PGPASSWORD: password
      MYSQL_HOST: 127.0.0.1
      MYSQL_PWD: password
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby-version }}"
        bundler-cache: true
      timeout-minutes: 30
    - name: Run SQLite tests
      env:
        DB: sqlite3
      run: bundle exec rake
    - name: Run PostgreSQL tests
      env:
        DB: postgresql
        COLLATE_SYMBOLS: false
      run: bundle exec rake
    - name: Run MySQL tests
      env:
        DB: mysql2
      run: bundle exec rake
